<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary container">
    <a class="navbar-brand" href="/main">Gallery</a>
    <div style="float: left">
        <h1>Main Menu</h1>
    </div>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <span class="navbar-text" style="float: left">

                <a th:text=${currentlyLoggedUser.login}></a>
                <a th:text=${currentlyLoggedUser.name}></a>
                <form action="/logout">
                    <input type="submit" class="button btn-danger" value="Logout">
                </form>
            </span>
    </div>
</nav>
<main class="container">


    <table class="table">
        <thead>
        <tr>
            <th><h2>Client</h2></th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Login</th>
        </tr>
        </thead>
        <tbody>
        <form action="/createGallery" method="get">
            <h2>New gallery name:</h2>
            <input type="text" name="galleryName" th:value="${galleryName}">

            <div class="nav justify-content-end">
                <tr th:each="client : ${clientList}">
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.surname}"></td>
                    <td th:text="${client.login}"></td>
                    <input type="hidden" name="clientId" th:value="${client.id}">
                    <input type="hidden" name="createdGalleryId" th:value="${createdGalleryId}">
                    <td><input type="submit" value="Create"></td>


                </tr>
            </div>
        </form>
        </tbody>
    </table>
</main>

</body>
</html>