<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary container">
    <a class="navbar-brand" href="/main">Gallery</a>
    <div style="float: left">
        <h2>Create Gallery</h2>
    </div>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Pricing</a>
            </li>
        </ul>
        <span class="navbar-text" style="float: left">

                    <a th:text=${currentlyLoggedUser.login}></a>
                    <a th:text=${currentlyLoggedUser.name}></a>
                    <form action="/logout">
                    <input type="submit" class="button btn-danger" value="Logout">
                    </form>
    </span>
    </div>
</nav>
<main class="container">
    <h3>Choose image to upload by clicking 'browse..' and upload it to gallery by clicking 'submit'</h3>
    <h3>Do it for every image You want to add to gallery</h3>

    <form method="post" enctype="multipart/form-data" action="/upload/db">


        <td><input type="file" name="file"></td>
        <input type="hidden" name="galleryName" th:value="${galleryName}">
        <input type="hidden" name="clientId" th:value="${clientId}">
        <input type="hidden" name="createdGalleryId" th:value="${createdGalleryId}">
        <input type="submit" value="submit">
    </form>
    <h3>When You add all photos You can see just crated gallery by clicking button below</h3>
    <form action="/showGallery" method="get">
        <input type="hidden" name="galleryId" th:value="${createdGalleryId}">
        <td><input type="submit" value="Show"></td>
    </form>
</main>
</body>
</html>