<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<main class="container">
photo




<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/main">Gallery</a>
    <div style="float: left">
        <h2>Main Menu</h2>
    </div>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Pricing</a>
            </li>
        </ul>
        <span class="navbar-text" style="float: left">

                <a th:text=${currentlyLoggedUser.login}></a>
                    <a th:text=${currentlyLoggedUser.name}></a>

    </span>
    </div>
</nav>

<table class="table">
    <thead>
    <tr>
        <th>Gallery</th>
        <th>Show gallery</th>
        <th>Add Images</th>
    </tr>
    </thead>
    <tbody>
    <div class="nav justify-content-end">
        <form action="/createGallery" method="get">
            <h>New gallery name:</h>
            <input type="text" name="galleryName" th:value="${galleryName}">
          <!--  <input type="hidden" name="createdWorkoutId">-->
            <input type="submit" class="button btn-outline-success" value="+">
        </form>
    </div>
    <div class="nav justify-content-end">
        <tr th:each="gallery : ${galleryList}">
            <td th:text="${gallery.galleryName}"></td>
            <form action="/showGallery" method="get">
                <input type="hidden" name="galleryId" th:value="${gallery.id}">
                <td><input type="submit" value="Show"></td>
            </form>

        </tr>
    </div>
    </tbody>
</table>

</main>
</body>
</html>